body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

header, footer {
    background-color: #004466;
    color: white;
    text-align: center;
    padding: 16px;
}

footer a {
  color: white;
  text-decoration: underline;
}

.background {
    background-image: url('images/background.jpg');
    background-size: cover;                         /* Заповнити весь простір блоку */
    background-position: center;                    /* Центрувати */
    background-repeat: no-repeat;                   /* Не повторювати */
    min-height: 200px;                              /* Мінімальна висота для відображення */
}

main {
    padding: 32px;                            /* Відступи блоку main з усіх сторін */
}

.image-row {
  display: flex;                            /* Вирівнює внутрішні елементи (image-item) в один рядок */
  justify-content: center;                  /* Центрує рядок горизонтально */
  gap: 50px;                                /* Відстань між картинками */
  margin-bottom: 20px;                      /* Відступ до футера від блоку з картинками */
}

.image-item {
  max-width: 30%;                           /* Максимальна ширина кожного блоку (щоб 3 картинки помістились в ряд) */
  text-align: center;                       /* Вирівнює текст і кнопки по центру */
}

.image-item img {
  width: 100%;                              /* Картинка займає всю ширину контейнера */
  height: auto;                             /* Автоматична висота, щоб зберегти пропорції */
  border-radius: 8px;                       /* Округлені кути картинки */
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);    /* Тінь навколо картинки для об’єму */
}

.caption {
  margin-top: 24px;                         /* Відступ зверху між картинкою і підписами */
  font-size: 16px;                          /* Розмір шрифту для тексту */
  color: #004466;                           /* Колір тексту в тегу p в блоках під картинками */
}

.image-item button {
  margin-top: 30px;                         /* Відступ зверху між текстом і кнопкою */
  padding: 8px 16px;                        /* Внутрішні відступи всередині кнопки (висота і ширина) */
  background-color: #ff6600;                /* Помаранчевий фон кнопки */
  border: 1px solid #004466;                /* Бордер кнопок обведений кольором тексту */
  border-radius: 5px;                       /* Округлені кути кнопки */
  color: white;                             /* Білий колір тексту кнопки */
  cursor: pointer;                          /* Курсор-палець при наведенні — показує, що це клікабельна кнопка */
  font-size: 20px;                          /* Розмір шрифту в кнопці */
  transition: background-color 0.3s ease;   /* Плавна анімація зміни кольору при наведенні */
}

.image-item button:hover {
  background-color: #e65500;                /* Темніший помаранчевий фон при наведенні */
}

h2 {
  text-align: center;
  margin-top: 40px;
  color: #ff6600;
}

.music-player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78%;
  margin: 80px auto 20px auto;
  padding: 30px 0;
  background-image: url('images/music_back.jpg');
  background-size: cover;
  background-position: center;
  background-color: #111;
  border-radius: 20px;
}

.player {
  background-color: #222;
  padding: 10px 10px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #fff;
}

.player-bg {
  background-image: url('images/music.webp');
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 20px;
}

.player audio {
  width: 100%;
  min-width: 300px;
  max-width: 100%;
  display: block;
}

/* Попап кнопки "Купити зараз". Початок */
.modal {
  display: none; /* приховано за замовчуванням */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

/* Кнопка "Підтвердити покупку" */
.modal-content button {
  margin-top: 16px;                         /* Відступ зовніщній зверху від поля "Введіть номер телефону" і кнопкою */
  padding: 8px 16px;                        /* Внутрішні відступи всередині кнопки (висота і ширина) */
  font-size: 20px;                          /* Розмір шрифту в кнопці */
  background-color: #ff6600;                /* Помаранчевий фон кнопки */
  border: 1.5px solid #004466;              /* Бордер кнопки обведений кольором тексту */
  border-radius: 6px;                       /* Округлені кути кнопки */
  color: white;                             /* Білий колір тексту кнопки */
  cursor: pointer;                          /* Курсор-палець при наведенні — показує, що це клікабельна кнопка */
  transition: background-color 0.3s ease;   /* Плавна анімація зміни кольору при наведенні */
}

.modal-content button:hover {
  background-color: #e65500;
}

/* "плаваючий лейбл". Реалізація лейбів для імпутних полів телефона та імені. Початок */
.form-group {
  position: relative;
  margin-top: 24px;
}

/* input поля модального вікна кнопки "Купити зараз" */
.form-group input {
  width: 90%;                               /* ширина поля в відносно попапа */
  padding: 12px 10px;                       /* Внутрішні відступи всередині input (висота і ширина) */
  margin: 12px 0;                           /* Відступ зовніщній, 12px зверху і знизу, 0 зліва і справа. */
  font-size: 16px;                          /* Розмір шрифту в полі */
  border: 1px solid #5285cc;                /* Бордер поля обведений кольором */
  border-radius: 6px;                       /* Округлені кути поля */
}

.form-group input:focus {
  outline: none;
  border: 1px solid #5285cc;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.6);
}

/* Лейба захована за замовчуванням */
.form-group label {
  position: absolute;
  left: 12px;
  top: -8px;
  background-color: white;
  padding: 0 6px;
  font-size: 13px;
  color: #5285cc;
  opacity: 0;
  transition: 0.2s ease;
  pointer-events: none;
}

/* Коли input у фокусі або має значення */
.form-group input:focus + label,
.form-group input.not-empty + label {
  opacity: 1;
}
/* "плаваючий лейбл". Реалізація лейбів для імпутних полів телефона та імені. Кінець */

/* Попап кнопки "Купити зараз". Кінець */

/* Стилі для Модалка подяки. Початок */
#thankYouModal .modal-content {
  background-color: #fff7e6; /* М’який світло-жовтий фон */
  border-radius: 20px;
  padding: 30px 40px;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  border: 2px solid #5285cc;
  animation: slideUpFade 0.4s ease;
  position: relative;
}

h3 {
  color: #5285cc;
  font-size: 28px;
  margin-bottom: 16px;
}

#thankYouModal p {
  font-size: 18px;
  color: #444;
  margin-bottom: 12px;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 18px;
  font-size: 28px;
  cursor: pointer;
  color: #5285cc;
  transition: transform 0.2s ease;
}
.close-btn:hover {
  transform: scale(1.2);
}

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Стилі для Модалка подяки. Кінець */