.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4); /* напівпрозорий фон */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cart-popup {
  width: min(60vw, 800px);
  max-height: 80vh;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
}

/* Заголовок */
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart-header h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #004466;
}

.cart-close-btn {
  background: none;
  border: none;
  font-size: 28px;
  color: #5285cc;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.cart-close-btn:hover {
  transform: scale(1.2);
}

/* Список товарів */
.cart-items-container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 10px;
}

/* Один товар */
.cart-item {
  display: grid;
  grid-template-columns: 30px 80px 1fr auto auto;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.remove-item-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #666;
}

.item-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.item-title {
  font-size: 1rem;
  color: #333;
}

.item-counter {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 40px;
}

.item-counter button {
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  background: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: #004466;
}

.quantity {
  text-align: center;
  width: 35px;
  height: 25px;
  box-sizing: border-box;
}

.quantity:focus {
  border: 1px solid #ff6600;
  outline: none;
}

.item-price {
  font-weight: bold;
  font-size: 1.1rem;
}

/* Нижній блок */
.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}

.total-price {
  font-size: 1.4rem;
  color: #004466;
}

.checkout-btn {
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
}

/* Заберає стрілки з імпутного цифрового поля для Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Заберає стрілки з імпутного цифрового поля для: Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}